- name: install maven and sql
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  loop:
  - maven
  - mysql

- name: install dependencies
  ansible.builtin.command: mvn clean package
  args:
    chdir: /app

- name: move jar file 
  ansible.builtin.command: mv target/{{ component }}-{{ VERSION }}.jar {{ component }}.jar  
  args:
    chdir: /app